
@{
    ViewBag.Title = "Home Page";
}
@model List<Date_ver2.Models.User>
@using Date_ver2.Models



<style>
    .fade {
        transition: opacity 0.2s ease;
    }

    .success-alert {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: none;
        padding: 10px;
        border-radius: 5px;
        background-color: #dff0d8;
        color: #3c763d;
        font-weight: bold;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .error-alert {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: none;
        padding: 10px;
        border-radius: 5px;
        background-color: #f2dede;
        color: #a94442;
        font-weight: bold;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .modal-content {
        position: relative;
        height: 320px;
    }
    .modal-footer {
        bottom:1px;
        right: 1px;
        position: absolute;
    }
</style>

<main>

    <div class="m-5">
        <!-- Button to trigger the modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Set Start and End Date</button>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Select Dates</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body .fixed-modal-content">
                    <div class="modal-body">
                        <form id="myForm">
                            <div id="errorPopup" class="text-danger" style="display: none; margin-left: 120px; font-size: 12px;"></div>
                            <div class="form-group row">
                                <label for="dateStart" class="col-sm-3 col-form-label">Start Date</label>
                                <div class="col-sm-9">
                                    <div class="input-group date" id="datetimepickerStart" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerStart" id="dateStart" required />
                                        <div class="input-group-append" data-target="#datetimepickerStart" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dateValidationError" class="text-danger" style="display: none; margin-left: 120px; font-size: 12px;"></div>
                            <div class="form-group row">
                                <label for="dateEnd" class="col-sm-3 col-form-label">End Date</label>
                                <div class="col-sm-9">
                                    <div class="input-group date" id="datetimepickerEnd" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepickerEnd" id="dateEnd" required />
                                        <div class="input-group-append" data-target="#datetimepickerEnd" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveButton">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="successPopup" class="success-alert alert-success" style="display: none;">
        Dates saved successfully!
    </div>
</main>

<!-- Include Bootstrap Datepicker JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.en-GB.min.js"></script> <!-- Include the locale file -->
<!-- Include Bootstrap 4 DateTimePicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>

<script>

    var jq = $.noConflict();
    jq(document).ready(function () {

        //
        // Start For data table
        //

        // Define datatable
        $('myTable').DataTable();

        // Initialize DataTable with sorting options
        $('#myTable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }, // First column (index 0) is not sortable
                { "orderable": true, "targets": [1, 2, 3] } // Allow sorting for other columns
            ]
        });


        // Define datatable ver2
        $('myTable_ver2').DataTable();

        // Initialize DataTable with sorting options
        $('#myTable_ver2').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": 0 }, // First column (index 0) is not sortable
                { "orderable": true, "targets": [1, 2, 3] } // Allow sorting for other columns
            ]
        });

        //
        // End for data table
        //




        //
        //Start for Button Pop-up
        //


        // Calculate current date and time using Moment.js
        const now = moment();
        const tomorrow = moment();

        // Format the dates for input values
        const formattedNow = now.format('MM/DD/YYYY hh:mm:ss A');
        const formattedTomorrow = now.format('MM/DD/YYYY hh:mm:ss A');

        // Set default values for the input fields
        jq('#datetimepickerStart').datetimepicker({
            format: 'MM/DD/YYYY hh:mm:ss A',
            minDate: now // Set minDate to current date
        });

        jq('#datetimepickerEnd').datetimepicker({
            format: 'MM/DD/YYYY hh:mm:ss A',
            minDate: now // Set minDate to current date
        });

        // Set initial input field values
        $('#dateStart').val(formattedNow);
        $('#dateEnd').val(formattedTomorrow);

        // Save button click event
        $('#saveButton').click(function () {
            const startDate = $('#dateStart').val();
            const endDate = $('#dateEnd').val();

            startDateTime = new Date(startDate);
            endDateTime = new Date(endDate);

            if (startDate === '' || endDate === '') {
                $('#dateValidationError').fadeOut();
                $('#errorPopup').text('Please select a Start or End Date').fadeIn();
            }
            else if (startDate > endDate) {
                $('#errorPopup').fadeOut();
                $('#dateValidationError').text('End Date must be greater than Start Date').fadeIn();
            }
            else {
                $('#errorPopup').fadeOut();
                $('#dateValidationError').fadeOut();
                // Save the dates to local storage
                localStorage.setItem('startDate', startDate);
                localStorage.setItem('endDate', endDate);

                $('.close').click(); 
                // Show the success popup
                $('#successPopup').fadeIn();

                // Close the success popup after 3 seconds
                setTimeout(function () {
                    $('#successPopup').fadeOut(function () {
                        // Clear the success popup display property
                        $(this).css('display', '');
                    });
                }, 3000);
            }
        });
        // Modal show event
        $('#myModal').on('show.bs.modal', function () {
            // Clear the success popup display property
            $('#successPopup').css('display', '');
        });

        //
        //End for Button Pop-up
        //
    });
</script>
